/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c; 
    color: #e0e0e0; 
}

header {
    background-color: #333; 
    color: #ffffff; 
    padding: 20px;
    text-align: center;
}

.container {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

button, .button {
    background-color: #4f4f4f; 
    color: #e0e0e0; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, .button:hover {
    background-color: #6e6e6e;
}

a {
    color: #a9a9a9; 
}

a:hover {
    color: #d3d3d3; 
}

header h1 {
    display: inline;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

nav ul li {
    margin-left: 1.5rem;
}




main {
    padding: 20px;
}


section {
    margin: 40px 0;
}

h2 {
    color: #A9A9A9;
    margin-bottom: 10px;
}

.document-links a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #004466;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.document-links a:hover {
    background-color: #0077aa;
}


footer {
    background-color: #333; 
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
}